---
import SectionStructure from '../../structures/SectionStructure.astro';
import IncludedItem from './IncludedItem.astro';
---

<SectionStructure idSection="whats-included" sectionClasses="" wrapperClasses="">
  <article class="flex">
    <!--Principal -->
    <div class="flex flex-col gap-12 bg-blueBg w-full px-12 py-12 xl:py-20 relative lg:px-10 rounded-r-[10px] text-white">
      <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/rectangle.png" class="absolute top-0 right-0 lg:right-[250px]" alt="" />
      <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/rectangle-bottom.png" class="absolute bottom-0 right-0 lg:right-[250px]" alt="" />

      <div class="flex flex-col gap-3 items-center">
        <div class="w-[10%] lg:hidden">
          <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/bullet.png" class="object-contain" alt="" />
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="flex justify-center items-center gap-4">
            <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/bullet.png" class="object-contain hidden lg:block" alt="" />
            <h2 class="Giyaste text-3xl text-center lg:text-[40px]/[48px] lg:tracking-[.4rem] tracking-[.2rem] uppercase">What’s Included?</h2>
          </div>
          <p class="text-[#A7B3C7] text-sm lg:text-base text-center lg:text-justify">
            An All-Inclusive Experience Tailored for You <br /> We make your journey simple and seamless:
          </p>
        </div>
      </div>

      <article class="flex flex-col lg:flex-row items-center self-center lg:justify-evenly gap-6">
        <IncludedItem imgSrc="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/1.png" title="Dubai Round Trip Flights " />
        <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/+.png" class="w-[15px] h-[15px] object-contain" alt="" />

        <IncludedItem imgSrc="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/2.png" title="5-Star Luxury Hotel " />

        <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/+.png" class="w-[15px] h-[15px] object-contain" alt="" />

        <IncludedItem imgSrc="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/3.png" title="Gourmet Meals  " />
        <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/+.png" class="w-[15px] h-[15px] object-contain" alt="" />

        <IncludedItem imgSrc="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/4.png" title="Real Estate VIP Tours" />
        <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/+.png" class="w-[15px] h-[15px] object-contain" alt="" />

        <IncludedItem imgSrc="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/5.png" title="24/7 Expert Consultants " />
      </article>
      <p class="text-[#E8D6AD] w-[85%] lg:w-[40%] xl:w-[35%] text-center self-center font-normal text-xl mt-5">Your journey is designed to focus on what matters – finding your perfect property.</p>
    </div>

    <!--Lateral -->
    <!-- <div class="rounded-l-[10px] flex flex-col justify-evenly w-[15%] bg-blueBg lg:w-[30%] pr-8 py-12">
      <div class="h-full justify-evenly flex flex-col gap-3">
        <div class="lg:flex flex-col text-white gap-1 hidden">
          <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/4.png" class="w-[41px] h-[41px] object-contain" alt="" />
          <h4 class="font-medium text-lg">Guided tours of the most exclusive properties</h4>
        </div>

        <div class="lg:flex flex-col text-white gap-1 hidden">
          <img src="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/Included/5.png" class="w-[41px] h-[41px] object-contain" alt="" />
          <h4 class="font-medium text-lg">Expert consultants to guide your investment decisions</h4>
        </div>

        <p class="text-[#E8D6AD] lg:block hidden font-normal text-xl mt-5">Your journey is designed to focus on what matters – finding your perfect property.</p>
      </div>
    </div> -->
  </article>
</SectionStructure>
