---
import Layout from '../layouts/Layout.astro';
import Why from '../sections/Why.astro';
import Included from '../sections/Included/Included.astro';
import How from '../sections/How.astro';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import Book from '../sections/Book/Book.astro';
import WhyUs from '../sections/WhyUs.astro';
import Home from '../sections/Home/Home.astro';
import Everything from '../sections/Everything.astro';
---

<Layout title="Fly Before You Buy">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={true} />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={true} />

  <main class="flex flex-col gap-8 md:gap-10 lg:gap-[128px]">
    <Home />
    <Why />
    <Included />
    <How />
    <Everything />
    <WhyUs />
    <Book />
  </main>
</Layout>
