---
interface Props {
  isLanding: boolean;
}

const { isLanding } = Astro.props;
---

<header class="flex flex-col items-center justify-center md:hidden fixed w-full max-w-full z-50 shadow-[0px_10px_50px_-30px_#00000024]">
  <nav class="flex w-full sm:px-10 z-40 relative justify-between h-[100px] px-8 bg-[#FFFFFF]">
    <div class="text-lg flex gap-4 items-center">
      <a class="flex items-center gap-2" href={isLanding ? '#home-section' : 'index.html'}>
        <img class="object-contain w-[110px]" src="/public/assets/navbar/logo.png" alt="FBYB Logo" title="Fly Before You Build" />
      </a>
    </div>

    <div id="menu-icon-container" class="flex items-center justify-center">
      <div class="bg-[#00173033] p-3 rounded-sm">
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMjM0OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik00IDEyaDE2TTQgNmgxNk00IDE4aDE2Ii8+PC9zdmc+"
          class="w-7 h-7 object-contain"
          id="menu-icon"
        />
        <img src="/public/assets/navbar/menu-icon.png" class="hidden object-contain w-5" id="close-icon" />
      </div>
    </div>
  </nav>

  <div
    id="menu"
    class="bg-menu-navbar -translate-x-[768px] w-full h-screen shadow-md transition-all ease-in-out duration-200 flex flex-col gap-12 justify-center absolute z-10 top-0 right-0 left-0 md:hidden text-[#FFFFFF] px-8"
  >
    <div class="pb-6 border-b-yellow border-2 border-t-0 border-r-0 border-l-0">
      <h4 class="Satoshi-bold text-3xl">FLY BEFORE YOU BUY</h4>
      <h6 class="font-normal text-lg">Fly to Dubai, See the Future, Make It Yours</h6>
    </div>

    <h2 class="Giyaste text-4xl tracking-widest">A VIP JOURNEY AWAITS.</h2>

    <ul class="flex flex-col gap-10 w-full">
      <li class="w-full">
        <a href="#home-section" onclick=" toggleMenu()" class="text-lg flex items-center justify-between">
          <span>Home</span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04LjAyNSAyMkw2LjI1IDIwLjIyNUwxNC40NzUgMTJMNi4yNSAzLjc3NUw4LjAyNSAybDEwIDEweiIvPjwvc3ZnPg=="
            alt="Arrow icon"
            class="w-5 h-5 object-contain"
          />
        </a>
      </li>
      <li class="w-full">
        <a href="#why-dubai-section" onclick=" toggleMenu()" class="text-lg flex items-center justify-between">
          <span>Why Dubai?</span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04LjAyNSAyMkw2LjI1IDIwLjIyNUwxNC40NzUgMTJMNi4yNSAzLjc3NUw4LjAyNSAybDEwIDEweiIvPjwvc3ZnPg=="
            alt="Arrow icon"
            class="w-5 h-5 object-contain"
          />
        </a>
      </li>
      <li class="w-full">
        <a href="#whats-included-section" onclick=" toggleMenu()" class="text-lg flex items-center justify-between">
          <span>What's Included?</span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04LjAyNSAyMkw2LjI1IDIwLjIyNUwxNC40NzUgMTJMNi4yNSAzLjc3NUw4LjAyNSAybDEwIDEweiIvPjwvc3ZnPg=="
            alt="Arrow icon"
            class="w-5 h-5 object-contain"
          />
        </a>
      </li>

      <li class="w-full">
        <a href="#how-section" onclick=" toggleMenu()" class="text-lg flex items-center justify-between">
          <span>How It Works</span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04LjAyNSAyMkw2LjI1IDIwLjIyNUwxNC40NzUgMTJMNi4yNSAzLjc3NUw4LjAyNSAybDEwIDEweiIvPjwvc3ZnPg=="
            alt="Arrow icon"
            class="w-5 h-5 object-contain"
          />
        </a>
      </li>

      <li class="w-full">
        <a href="#why-us-section" onclick=" toggleMenu()" class="text-lg flex items-center justify-between">
          <span>Why Us?</span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04LjAyNSAyMkw2LjI1IDIwLjIyNUwxNC40NzUgMTJMNi4yNSAzLjc3NUw4LjAyNSAybDEwIDEweiIvPjwvc3ZnPg=="
            alt="Arrow icon"
            class="w-5 h-5 object-contain"
          />
        </a>
      </li>

      <li class="w-full">
        <a href="#book-section" onclick=" toggleMenu()" class="text-lg flex items-center justify-between">
          <span>Book Now</span>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04LjAyNSAyMkw2LjI1IDIwLjIyNUwxNC40NzUgMTJMNi4yNSAzLjc3NUw4LjAyNSAybDEwIDEweiIvPjwvc3ZnPg=="
            alt="Arrow icon"
            class="w-5 h-5 object-contain"
          />
        </a>
      </li>
    </ul>
  </div>
</header>

<style>
  .bg-menu-navbar {
    background-image: linear-gradient(rgba(0, 0.137, 0.282, 0.7), rgba(0, 0.137, 0.282, 0.7)), url('/public/assets/navbar/navbar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
