---

---

<!-- ! Footer -->
<footer class="flex justify-center items-center py-10 md:py-4 lg:py-6 xl:py-12 w-full">
  <div class="w-full flex flex-col px-3 sm:px-6 md:px-8 lg:px-0 gap-8 sm:gap-16 md:gap-10 lg:max-w-[1200px] xl:max-w-[1300px]">
    <div class="bg-[#606773] text-white flex flex-col gap-12 lg:flex-row px-10 py-20 rounded-md">
      <article class="w-full lg:w-4/12 flex flex-col gap-4">
        <h4 class="font-medium text-lg">Do you have any questions?</h4>

        <h3 class="Giyaste tracking-widest xl:text-xl lg:tracking-[0.50rem]">
          TALK TO OUR EXPERTS
          <br />
          CONTACT US AND LET OUR TEAM GUIDE YOU TO SUCCESS.
        </h3>
      </article>

      <article class="flex flex-col gap-8 w-full lg:w-4/12">
        <div class="flex flex-col gap-2">
          <article class="p-1 flex items-center bg-blue text-yellow rounded-md">
            <div class="bg-yellow h-full p-1 rounded-sm">
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Ik02LjYyIDEwLjc5YzEuNDQgMi44MyAzLjc2IDUuMTUgNi41OSA2LjU5bDIuMi0yLjJjLjI4LS4yOC42Ny0uMzYgMS4wMi0uMjVjMS4xMi4zNyAyLjMyLjU3IDMuNTcuNTdhMSAxIDAgMCAxIDEgMVYyMGExIDEgMCAwIDEtMSAxQTE3IDE3IDAgMCAxIDMgNGExIDEgMCAwIDEgMS0xaDMuNWExIDEgMCAwIDEgMSAxYzAgMS4yNS4yIDIuNDUuNTcgMy41N2MuMTEuMzUuMDMuNzQtLjI1IDEuMDJ6Ii8+PC9zdmc+"
                alt="Phone icon"
                class="h-8 w-8 object-contain"
              />
            </div>

            <span class="text-center w-full font-medium">+971 50 457 7173</span>
          </article>

          <article class="p-1 flex items-center bg-blue text-yellow rounded-md">
            <div class="bg-yellow h-full p-1 rounded-sm">
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMjM0OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSI+PHJlY3Qgd2lkdGg9IjE4LjUiIGhlaWdodD0iMTUuNSIgeD0iMi43NSIgeT0iNC4yNSIgcng9IjMiLz48cGF0aCBkPSJtMi43NSA4bDguNDE1IDMuODY2YTIgMiAwIDAgMCAxLjY3IDBMMjEuMjUgOCIvPjwvZz48L3N2Zz4="
                alt="Phone icon"
                class="h-8 w-8 object-contain"
              />
            </div>

            <span class="text-center w-full font-medium">+971 50 457 7173</span>
          </article>
        </div>

        <article class="bg-[#E0E5EE33] rounded-md shadow-xl text-white flex justify-center py-4 px-4">
          <span class="text-center text-sm">P.O Box 41096, Dubai, United Arab Emirates</span>
        </article>
      </article>

      <article class="flex flex-col items-center lg:items-end gap-10 w-full lg:w-4/12">
        <div class="flex justify-center lg:justify-end w-full">
          <img src="/public/assets/logo.png" class="w-40 object-contain" alt="FBYB Logo" title="Fly Before You Buy" />
        </div>

        <div class="flex flex-col gap-4">
          <ul class="list-none w-max text-[#F8FBFF] text-lg flex gap-4 lg:font-light xl:text-xl">
            <li class="relative pl-6 before:content-['•'] before:absolute before:left-0">
              <span class="underline underline-offset-4 text-lg">Privacy Notice</span>
            </li>
            <li class="relative pl-6 before:content-['•'] before:absolute before:left-0">
              <span class="underline underline-offset-4 text-lg">Terms of service</span>
            </li>
          </ul>

          <p class="text-[#F8FBFF] text-sm">© 2024 FlyBeforeYouBuy.com Square - Dubai</p>
        </div>
      </article>
    </div>
  </div>
</footer>
