/* Fonts */
@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-Italic.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Giyaste';
  src: url('/public/fonts/Giyaste.otf') format('opentype');
  font-style: normal;
}

.Satoshi-regular {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Satoshi-bold {
  font-family: 'Satoshi', system-ui;
  font-weight: 700;
  font-style: normal;
}

.Satoshi-italic {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Satoshi-light {
  font-family: 'Satoshi', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.Giyaste {
  font-family: 'Giyaste', sans-serif;
  font-style: normal;
}
