---
import SectionStructure from '../structures/SectionStructure.astro';
---

<SectionStructure idSection="everything" sectionClasses="" wrapperClasses="  ">
  <article class="flex items-center justify-center p-8 md:py-32">
    <div class="font-bold text-[#606773] md:w-[50%] text-center md:text-xl text-lg lg:text-3xl">Everything is prepared for you <br /> – all you need to do is show up.</div>
  </article>
</SectionStructure>
