---
import SectionStructure from '../structures/SectionStructure.astro';
---

<SectionStructure idSection="how" sectionClasses="" wrapperClasses=" ">
  <article class="flex flex-col gap-10 p-6 lg:px-14 xl:px-20">
    <div class="md:w-1/2">
      <h3 class="Giyaste font-medium text-2xl tracking-widest md:text-3xl xl:text-4xl lg:tracking-[0.50rem] uppercase">HOW IT WORKS</h3>
      <p class="text-lg w-[80%] lg:text-2xl text-[#606773]">From Dreaming to Owning in 3 Easy Steps</p>
    </div>

    <article class="flex flex-col gap-10 md:-mt-14 lg:-mt-20">
      <!--!Card -->
      <div class="flex flex-col md:flex-row md:gap-10 gap-2 items-center">
        <div class="flex gap-4 lg:gap-8 md:w-1/2">
          <span class="text-[80px]/[72px] Giyaste tracking-widest text-[#B18E3B]">1.</span>
          <div class="flex flex-col gap-2">
            <h3 class="text-2xl Giyaste uppercase lg:text-[32px]/[38px] tracking-[.2rem] lg:tracking-[0.30rem] text-blueBg">BOOK YOUR SPOT:</h3>
            <p class="text-[#606773] text-lg lg:text-[24px]/[29px]">Fill in the form to secure your place.</p>
          </div>
        </div>
        <div class="flex justify-center md:w-1/2">
          <img src="/public/assets/How/1.png" class="shadow-xl breathing" alt="" />
        </div>
      </div>

      <!--!Card -->
      <div class="flex flex-col md:flex-row md:gap-10 gap-2 items-center">
        <div class="flex gap-4 lg:gap-8 md:w-1/2">
          <span class="text-[80px]/[72px] Giyaste tracking-widest text-[#B18E3B]">2.</span>
          <div class="flex flex-col gap-2">
            <h3 class="text-2xl Giyaste uppercase lg:text-[32px]/[38px] tracking-[.2rem] lg:tracking-[0.30rem]">Fly to Dubai:</h3>
            <p class="text-[#606773] text-lg lg:text-[24px]/[29px]">Experience a fully guided tour, personalized just for you.</p>
          </div>
        </div>
        <div class="flex justify-center md:w-1/2">
          <img src="/public/assets/How/2.png" class="shadow-xl breathing" alt="" />
        </div>
      </div>

      <!--!Card -->
      <div class="flex flex-col md:flex-row md:gap-10 gap-2 items-center">
        <div class="flex gap-4 lg:gap-8 md:w-1/2">
          <span class="text-[80px]/[72px] Giyaste tracking-widest text-[#B18E3B]">3.</span>
          <div class="flex flex-col gap-2">
            <h3 class="text-2xl Giyaste uppercase lg:text-[32px]/[38px] tracking-[.2rem]">Own Your Property:</h3>
            <p class="text-[#606773] text-lg lg:text-[24px]/[29px]">Choose your dream property and enjoy exclusive investment benefits.</p>
          </div>
        </div>
        <div class="flex justify-center md:w-1/2">
          <img src="/public/assets/How/3.png" class="shadow-xl breathing" alt="" />
        </div>
      </div>
    </article>
  </article>
</SectionStructure>

<style>
  .breathing {
    animation: breathing 3s ease-in-out infinite;
  }

  @keyframes breathing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
