---
import SectionStructure from '../structures/SectionStructure.astro';
---

<SectionStructure idSection="why" sectionClasses="p-4 shadow-md" wrapperClasses="  p-8 ">
  <article class="flex items-center flex-col md:flex-row md:items-center gap-5">
    <div class="flex flex-col gap-4 md:w-1/2">
      <div class="flex justify-center gap-3">
        <img src="/public/assets/Why/star.png" alt="" />
        <img src="/public/assets/Why/star.png" alt="" />
        <img src="/public/assets/Why/star.png" alt="" />
      </div>

      <div class="flex flex-col items-center gap-2 lg:gap-1">
        <h2 class="text-[28px] Giyaste tracking-[0.15rem] lg:text-[50px] lg:tracking-[.4rem] uppercase text-center">Why Dubai?</h2>
        <span class="uppercase text-[#606773] lg:text-sm"><span class="font-bold">Dubai:</span> The City of Opportunity</span>
      </div>

      <article class="flex flex-wrap [&>div]:w-[45%] [&>div]:lg:w-[35%] lg:justify-evenly justify-center gap-4">
        <div class="flex flex-col font-bold gap-2 p-2">
          <img src="/public/assets/Why/1.png" class="w-[32px] h-[32px]" alt="" />
          <p class="uppercase text-left text-sm">0% Tax on Property Investments</p>
        </div>

        <div class="flex flex-col font-bold gap-2 p-2">
          <img src="/public/assets/Why/2.png" class="w-[32px] h-[32px]" alt="" />
          <p class="uppercase text-left text-sm">Full Ownership for International Buyers</p>
        </div>

        <div class="flex flex-col font-bold gap-2 p-2">
          <img src="/public/assets/Why/3.png" class="w-[32px] h-[32px]" alt="" />
          <p class="uppercase text-left text-sm">Unmatched Luxury and Premium Locations</p>
        </div>

        <div class="flex flex-col font-bold gap-2 p-2">
          <img src="/public/assets/Why/4.png" class="w-[32px] h-[32px]" alt="" />
          <p class="uppercase text-left text-sm">A Thriving Hub for Global Business and Lifestyle</p>
        </div>
      </article>

      <div class="w-full gap-[0.5px] max-w-[200px] self-center lg:w-[40%] lg:p-0 lg:gap-1 mt-5 flex">
        <a class="w-[80%] flex font-medium text-lg xl:text-xl justify-center items-center bg-blue rounded-[8px] p-4 text-white" href="#packages-section">BOOK NOW</a>
        <div class="bg-blue flex justify-center items-center w-[20%] rounded-l-[8px] rounded-r-[4px] p-4 text-white">
          <img src="/public/assets/Why/right.png" class="w-full h-auto lg:w-[14px] lg:h-[32px] object-contain" alt="" />
        </div>
      </div>
    </div>

    <div class="md:w-1/2 h-full">
      <img src="/public/assets/Why/desktop.png" class="w-full h-full object-cover" alt="" />
    </div>
  </article>
</SectionStructure>
