---
import SectionStructure from '../structures/SectionStructure.astro';
---

<SectionStructure idSection="why-us" wrapperClasses="">
  <div class="bg-blueBg flex flex-col gap-20 lg:flex-row lg:justify-between lg:items-center rounded-md p-8 xl:px-20 lg:py-32">
    <article class="w-full lg:w-6/12 xl:w-[50%] flex flex-col gap-4">
      <div>
        <h2 class="Giyaste font-medium text-white text-2xl tracking-widest lg:text-3xl xl:text-4xl lg:tracking-[0.50rem]">WHY US?</h2>
        <h3 class="text-white text-lg xl:text-xl font-medium">What Makes Us the Right Choice</h3>
      </div>

      <ul class="flex flex-col gap-4 mt-6 xl:gap-8">
        <li class="flex gap-4">
          <img src="/public/assets/tick-icon.png" class="w-10 h-10 object-contain" alt="Tick icon" />

          <div class="flex flex-col gap-1">
            <h4 class="text-yellow text-lg font-medium xl:text-xl">Proven Expertise:</h4>
            <p class="text-[#A7B3C7] xl:text-lg">Decades of experience in Dubai’s real estate market.</p>
          </div>
        </li>

        <li class="flex gap-4">
          <img src="/public/assets/tick-icon.png" class="w-10 h-10 object-contain" alt="Tick icon" />

          <div class="flex flex-col gap-1">
            <h4 class="text-yellow text-lg font-medium xl:text-xl">End-to-End Service:</h4>
            <p class="text-[#A7B3C7] xl:text-lg">We handle every detail, so you can focus on investing.</p>
          </div>
        </li>

        <li class="flex gap-4">
          <img src="/public/assets/tick-icon.png" class="w-10 h-10 object-contain" alt="Tick icon" />

          <div class="flex flex-col gap-1">
            <h4 class="text-yellow text-lg font-medium xl:text-xl">Exclusive Properties:</h4>
            <p class="text-[#A7B3C7] xl:text-lg">Access to premier properties not available elsewhere.</p>
          </div>
        </li>

        <li class="flex gap-4">
          <img src="/public/assets/tick-icon.png" class="w-10 h-10 object-contain" alt="Tick icon" />

          <div class="flex flex-col gap-1">
            <h4 class="text-yellow text-lg font-medium xl:text-xl">Personalized Attention:</h4>
            <p class="text-[#A7B3C7] xl:text-lg">Your goals are our priority.</p>
          </div>
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-4 justify-center items-center w-full lg:w-6/12 xl:w-[35%] lg:gap-8 lg:justify-center">
      <img class="w-[200px] object-contain lg:w-[250px] xl:w-[200px]" src="/public/assets/logo.png" alt="Fly Before You Buy" />
      <p class="text-[#F8FBFF] font-[Corinthia] text-2xl text-center lg:text-3xl xl:text-[2.40rem] xl:leading-tight">
        We’re here to make your Dubai property journey smooth, transparent, and successful.
      </p>
    </article>
  </div>
</SectionStructure>
