---
import { fade } from 'astro:transitions';
import { Toaster, toast } from 'sonner';

import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/x-icon" href="https://shualim.online/wlp/FBYB/FBYB-mini/public/assets/favicon.jpg">
    
    
    <title>{title}</title>
    <script defer src="scripts/navbar.js"></script>
    <script defer src="scripts/send-form.js"></script>
    <script defer src="scripts/cookies.js"></script>
    <script defer src="scripts/scroll-navbar.js"></script>

    <!-- ? Scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--? Styles -->
    <link rel="stylesheet" href="https://shualim.online/devs-mx-resources/notify/notify.css" />
    <link rel="stylesheet" href="styles/globals.css" />

    <!-- ? Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/znb0tzz.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap" rel="stylesheet" />
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '944183500931992');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=944183500931992&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16805647499">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16805647499');
</script>
  </head>
  <body class="overflow flex flex-col items-center Satoshi-regular" transition:animate={fade({ duration: '0.5s' })}>
    <Toaster position="top-right" client:only="react" />
    <slot />
    <!-- ! Footer -->
    <Footer />
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // @ts-expect-error
      ScrollReveal().reveal('.animate-section', {
        duration: 800,
        origin: 'bottom',
        distance: '50px',
        easing: 'ease-in-out',
        reset: false,
      });

      // @ts-expect-error
      ScrollReveal().reveal('.animate-hero', {
        duration: 600,
        origin: 'left',
        distance: '30px',
        easing: 'ease-in-out',
        reset: false,
      });
    });
  </script>
</html>

<style is:global>
  section {
    scroll-margin-top: 100px;
  }
</style>
